
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1ec79a;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1550px;
    width: 700px;
    height: 730px;
    background: #24323d;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.title{
    font-size: 38px;
    color: #1ab188;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
    text-align: center;
}
.message,
.signin{
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.signin a{
    color: #1ab188;
    text-decoration: none;
    transition: 0.3s;
}
.signin a:hover {
    color: #1ec79a;
}

.form-group{
    display: flex;
    width: 100%;
    gap: 6px;
}
.form label{
    position: relative;
    width: 100%;
}
.form label input{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}



.form label input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #24323d;
    font-size: 0.9em;
    cursor: text;
    transition: o.3s ease;
}

.form label input:placeholder-shown + span{
    top: 15px;
    font-size: 0.9em;
}

.form label input:focus + span,
.form label input:valid + span{
    top: 30px;
    font-size: 0.9em;
    font-weight: 600;
}
.form label input:valid + span{
    color: #1ab188;
}
.form label .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #24323d;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    z-index: 9;
}
.submit{
    border: none;
    outline: none;
    background: #1ab188;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 26px;
    transform: 0.3s ease;
    cursor: pointer;
}
.submit:hover{
    background: #1ec79a;
    transition: 0.3s;
}




#preloader{
background: black url(/Circle\ Loader.gif) no-repeat center center;
background-size: 10%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
font-size: 25px;
color: white;
font-family: sans-serif;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding-top: 10%;
}


@media screen and (max-width: 1000px) {
       
    body{
        width: 100%;
        height: 100%;
    }
    
    .form{
        width: 300px;
        height: 530px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .form label input, .submit{
        width: 260px;
        font-size: 15px;
        border-radius: 7px;
    }
    .title{
        font-size: 20px;
    }
    .message{
        font-size: 18px;
    }
    .signin{
        font-size: 15px;
    }
    .signin a{
        font-size: 15px;
    }
    marquee h4{
        font-size: 15px;
    }

    #preloader{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
}